<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- call bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- w3 -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script>

    </script>

    <!-- title -->
    <title>RandomChat AdminPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <nav class="navbar navbar-light bg-primary text-light">
        <a class="navbar-brand text-light" href="#">Admin Page</a>
        <div class="row">
            <span class="navbar-text text-light font-weight-bold">
                <p class="m-0" th:text="${session.id} + '님 로그인중입니다.'"></p>
            </span>
            <div class="dropdown ml-3 mt-1 mr-3">
                <button class="btn  fa fa-user text-light" type="button" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    <a class="dropdown-item" href="/SignOut">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- add thymeleaf -->
        <form action="#" method="POST">
            <!-- Delete Account ID value -->
            <input type="hidden" name="ID">
            <div>
                <p class="font-weight-bold display-4 mt-5 mb-5 d-flex justify-content-center">계정 삭제</p>
            </div>
            <!-- final show -->
            <div class="d-flex justify-content-center">
                <!-- add thymeleaf -->
                <span>[아이디]</span>
                <p>
                    의 정보를 삭제하시겠습니까?
                </p>
            </div>
            <!-- button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-5">예</button>
                <button type="button" id="back" class="btn btn-danger m-5">아니오</button>
            </div>
        </form>
    </div>
</body>
<footer class="text-center border-top border-secondary" style="margin-top:300px">
    동서울대학교 컴퓨터 소프트웨어과 7조 박치원, 이종운, 조상윤, 김용진
    <p style="font-size:5px;">경기도 성남시 수정구 복정로 76</p>
</footer>

</html>